<h1>Seja Bem-Vindo</h1>
<p>O idiamo usado nessa aplicacao e: <strong> <%= locale(I18n.locale) %></strong> </p>
<p><strong>Data:</strong> <%= Date.today %></p> 
<p>Data: <%= data_br(Date.today) %></p>

<%= link_to "Cadastro de Moedas", coins_path %> <br>
<%= link_to "Cadastro de Tipos de Minerecao", mining_types_path %>